[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = git://github.com/kriswallsmith/assetic.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/Twig-extensions"]
	path = vendor/Twig-extensions
	url = git://github.com/fabpot/Twig-extensions.git
[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "vendor/doctrine-data-fixtures"]
	path = vendor/doctrine-data-fixtures
	url = git://github.com/doctrine/data-fixtures.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "vendor/doctrine-migrations"]
	path = vendor/doctrine-migrations
	url = git://github.com/doctrine/migrations.git
[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = git://github.com/doctrine/mongodb.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = git://github.com/doctrine/mongodb-odm.git
[submodule "vendor/zend-log"]
	path = vendor/zend-log
	url = git://github.com/symfony/zend-log.git
[submodule "src/Funsational/CASBundle"]
	path = src/Funsational/CASBundle
	url = git@git.assembla.com:funsational-development.git
